<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>This is {{title}} page !</h1>
</body>
</html> -->

{% extends "layout.html" %}

{% block content %}
<h3>Contents:</h3>
<ul>
    <li>Home</li>
    <li><a href=" {{url_for('about')}}" target="_blank">About</a></li>
    <li><a href="{{url_for('employees')}}" target="_blank">Employees</a></li>
    <ul>
        <li>
            <a href="{{url_for('managers')}}" target="_blank">Manegers</a>
        </li>
    </ul>
    <li>Careers</li>
    <li>Contact Us</li>
</ul>
{% endblock content %}